<html>
    <head>
        <title>Sample Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">True Revelations</a></h1>
        </div>

        <div>
            <p>published: 20.02.2019, 11:38</p>
            <h2><a href="">My first post</a></h2>
            <p>Hank is gay.</p>
        </div>

        <div>
            <p>published: 20.02.2019, 11:38</p>
            <h2><a href="">My second post</a></h2>
            <p>James gonna lose money.</p>
        </div>
    </body>
</html>